html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Prata', serif;
	color: black;
}

body {
	background-color: rgb(241, 241, 247);
}

header {
	margin: 40px 0 25px 0;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 70px;
}

a {
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#pomodoro {
    height: 20rem;
    width: 40rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #timerTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  #time {
    height: 8rem;
    width: 60%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #time > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #time > div:nth-of-type(2) {
    padding-bottom: 0.5rem;
  }
  
  #min, #sec {
    height: 5rem;
    width: 5rem;
  }

button {
    height: 70px;
    width: 110px;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: white;
    font-size: 2.5rem;
    color: black;
    margin: 10px;
}

#pausebtn:hover {
    background-color: #64d3ff;
}

#startbtn:hover {
    background-color: #7eff64;
}

#stopbtn:hover {
    background-color: #ff6479;
}

footer {
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
